<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-gray-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="flex h-full min-h-[700px] flex-col justify-between bg-gray-50 p-4">
              <div class="flex flex-col gap-4">
                <h1 class="text-[#101418] text-base font-medium leading-normal">Security Center</h1>
                <div class="flex flex-col gap-2">
                  <div class="flex items-center gap-3 px-3 py-2 rounded-full bg-[#eaedf1]">
                    <div class="text-[#101418]" data-icon="File" data-size="24px" data-weight="fill">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM152,88V44l44,44Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Consent Templates</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="Shield" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M208,40H48A16,16,0,0,0,32,56v58.77c0,89.61,75.82,119.34,91,124.39a15.53,15.53,0,0,0,10,0c15.2-5.05,91-34.78,91-124.39V56A16,16,0,0,0,208,40Zm0,74.79c0,78.42-66.35,104.62-80,109.18-13.53-4.51-80-30.69-80-109.18V56l160,0Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Data Access Policies</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="PuzzlePiece" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M220.27,158.54a8,8,0,0,0-7.7-.46,20,20,0,1,1,0-36.16A8,8,0,0,0,224,114.69V72a16,16,0,0,0-16-16H171.78a35.36,35.36,0,0,0,.22-4,36.11,36.11,0,0,0-11.36-26.24,36,36,0,0,0-60.55,23.62,36.56,36.56,0,0,0,.14,6.62H64A16,16,0,0,0,48,72v32.22a35.36,35.36,0,0,0-4-.22,36.12,36.12,0,0,0-26.24,11.36,35.7,35.7,0,0,0-9.69,27,36.08,36.08,0,0,0,33.31,33.6,35.68,35.68,0,0,0,6.62-.14V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V165.31A8,8,0,0,0,220.27,158.54ZM208,208H64V165.31a8,8,0,0,0-11.43-7.23,20,20,0,1,1,0-36.16A8,8,0,0,0,64,114.69V72h46.69a8,8,0,0,0,7.23-11.43,20,20,0,1,1,36.16,0A8,8,0,0,0,161.31,72H208v32.23a35.68,35.68,0,0,0-6.62-.14A36,36,0,0,0,204,176a35.36,35.36,0,0,0,4-.22Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Integrations</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#101418] tracking-light text-[32px] font-bold leading-tight">Consent Templates</p>
                <p class="text-[#5c728a] text-sm font-normal leading-normal">Manage consent templates for different data access scenarios.</p>
              </div>
            </div>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-xl border border-[#d4dbe2] bg-gray-50">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-gray-50">
                      <th class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-120 px-4 py-3 text-left text-[#101418] w-[400px] text-sm font-medium leading-normal">
                        Template Name
                      </th>
                      <th class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-240 px-4 py-3 text-left text-[#101418] w-[400px] text-sm font-medium leading-normal">
                        Description
                      </th>
                      <th class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-360 px-4 py-3 text-left text-[#101418] w-60 text-sm font-medium leading-normal">Status</th>
                      <th class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-480 px-4 py-3 text-left text-[#101418] w-60 text-[#5c728a] text-sm font-medium leading-normal">
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#d4dbe2]">
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-120 h-[72px] px-4 py-2 w-[400px] text-[#101418] text-sm font-normal leading-normal">
                        Template for Basic Data Access
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-240 h-[72px] px-4 py-2 w-[400px] text-[#5c728a] text-sm font-normal leading-normal">
                        This template is used for basic data access scenarios.
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#eaedf1] text-[#101418] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Active</span>
                        </button>
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-480 h-[72px] px-4 py-2 w-60 text-[#5c728a] text-sm font-bold leading-normal tracking-[0.015em]">
                        Edit
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#d4dbe2]">
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-120 h-[72px] px-4 py-2 w-[400px] text-[#101418] text-sm font-normal leading-normal">
                        Template for Sensitive Data Access
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-240 h-[72px] px-4 py-2 w-[400px] text-[#5c728a] text-sm font-normal leading-normal">
                        This template is used for sensitive data access scenarios.
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#eaedf1] text-[#101418] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Inactive</span>
                        </button>
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-480 h-[72px] px-4 py-2 w-60 text-[#5c728a] text-sm font-bold leading-normal tracking-[0.015em]">
                        Edit
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#d4dbe2]">
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-120 h-[72px] px-4 py-2 w-[400px] text-[#101418] text-sm font-normal leading-normal">
                        Template for Third-Party Access
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-240 h-[72px] px-4 py-2 w-[400px] text-[#5c728a] text-sm font-normal leading-normal">
                        This template is used for third-party access scenarios.
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#eaedf1] text-[#101418] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Active</span>
                        </button>
                      </td>
                      <td class="table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-480 h-[72px] px-4 py-2 w-60 text-[#5c728a] text-sm font-bold leading-normal tracking-[0.015em]">
                        Edit
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <style>
                          @container(max-width:120px){.table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-120{display: none;}}
                @container(max-width:240px){.table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-240{display: none;}}
                @container(max-width:360px){.table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-360{display: none;}}
                @container(max-width:480px){.table-ba8fc994-0f1d-4b8f-ac2c-a5697e3ce476-column-480{display: none;}}
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
